
body {        
    font-family: 'Titillium Web', sans-serif;
    background: radial-gradient(ellipse at center, #24CEAC 0%, #0BA492 68%, #644CC5 100%);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

header {
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
   padding: 10px;
   color:azure;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img {
    height: 400px;

}

h1 {
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: azure;
}